<h1>Listing <%= plural_table_name %></h1>

<p id="notice"><%%= notice %></p>

<table>
  <tr>
<% attributes.each do |attribute| -%>
    <th><%= attribute.human_name %></th>
<% end -%>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
  <tr>
<% attributes.each do |attribute| -%>
    <td><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
<% end -%>
    <td><%%= link_to t("menu.show"), <%= singular_table_name %> %></td>
    <td><%%= link_to t("menu.edit"), edit_<%= singular_table_name %>_path(<%= singular_table_name %>) %></td>
    <td><%%= link_to t("menu.destroy"), <%= singular_table_name %>, :confirm => "'Are you sure?'", :method => ":delete" %></td>
  </tr>
<%% end %>
</table>

<br />

<%%= link_to t("menu.new"), new_<%= singular_table_name %>_path %>